// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;700&family=PT+Serif&display=swap');

// COLORS 
$c-button-label : #E0B973;
$c-highlighted-text : #14274A;

// FONTS
$f-logo : 'PT Serif', serif;
$f-logo2 : 'Abhaya Libre', serif;
$f-text : 'Montserrat', sans-serif;
$f-headers : 'Abel', sans-serif;