/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;700&family=PT+Serif&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header .bookmark {
  margin: 0 auto;
  background-color: #E0B973;
  width: 200px;
  padding: 10px 20px 20px;
  font-family: "PT Serif", serif;
  text-align: center;
  color: #14274A;
  border-radius: 0 0 30px 30px;
}

.header .bookmark h2 {
  font-size: 32px;
  letter-spacing: 4px;
}

.header .bookmark span {
  font-family: "Abhaya Libre", serif;
  letter-spacing: 7px;
  font-size: 12px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.header .navbar a {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
}

.header h1 {
  margin-left: 280px;
  margin-top: 200px;
  font-family: "Abel", sans-serif;
  color: #fff;
  font-size: 150px;
  letter-spacing: 10px;
}

.header h1 span {
  display: block;
  font-size: 70px;
}

.header a {
  text-decoration: none;
}

.header .btn-reservation {
  width: 270px;
  height: 60px;
  display: block;
  margin: 120px auto;
  background-color: #E0B973;
  border: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .btn-reservation:hover {
  cursor: pointer;
}

.header .btn-reservation img {
  margin-left: 15px;
}

.header .btn-reservation span {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

.mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #14274A;
}

.secrooms, .seclocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secrooms::before {
  content: ' ';
  height: 300px;
  width: 2px;
  background-color: black;
  position: relative;
  top: -10px;
  left: -40px;
}

.seclocation::before {
  content: ' ';
  height: 300px;
  width: 2px;
  background-color: black;
  position: relative;
  top: -10px;
  left: -40px;
}

.info {
  max-width: 500px;
  color: #14274A;
  font-family: "Abel", sans-serif;
}

.info .title {
  font-size: 46px;
  font-weight: bold;
}

.info .subtext {
  margin-top: 15px;
  font-size: 24px;
  line-height: 1.3;
}

.info a {
  text-decoration: none;
}

.info .btn-reservation {
  width: 170px;
  height: 45px;
  display: block;
  margin: 20px 0;
  background-color: #E0B973;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
}

.info .btn-reservation:hover {
  cursor: pointer;
}

.infoSection {
  max-width: 80%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 100px;
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.label {
  font-family: "Abel", sans-serif;
  padding: 10px 30px;
  background-color: #E0B973;
  display: inline-block;
  font-size: 42px;
  color: white;
}

.note {
  max-width: 900px;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4;
}

.placetovisit {
  margin-top: 100px;
  margin-left: 15%;
  font-family: "Abel", sans-serif;
  font-size: 36px;
}

ul {
  margin-left: 15%;
  margin-top: 30px;
}

ul li {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

ul li img {
  width: 30px;
  margin-right: 10px;
}

.footerhead {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footerhead h3 {
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 36px;
}

.footerhead h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
}

.footerhead p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

footer {
  background-color: #14274A;
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 20px 40px;
      grid-template-areas: 'area1 area2 area3 area4';
  color: white;
  text-align: center;
  font-family: "Abel", sans-serif;
}

footer .col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer .col1 .logo h4 {
  letter-spacing: 3px;
  font-size: 22px;
}

footer .col1 .logo p {
  font-size: 10px;
  letter-spacing: 5px;
}

footer .col1 .address {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
}

footer .col2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
}

footer .col2 .list {
  margin: 0;
  font-size: 13px;
}

footer .col2 .list a {
  text-decoration: none;
  color: white;
}

footer .col3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: area3;
  text-align: start;
}

footer .col3 .list {
  margin: 0;
  font-size: 15px;
}

footer .col3 .list img {
  width: 15px;
}

footer .col3 .list a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .col4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: area4;
  text-align: start;
}

footer .col4 input {
  border: 3px solid #E0B973;
  margin: -4px;
  margin-top: 10px;
}

footer .col4 input:focus {
  outline: none;
}

footer .col4 input[type=text] {
  width: 150px;
  height: 20px;
  background-color: #14274A;
  color: white;
}

footer .col4 input[type=text]::-webkit-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer .col4 input[type=text]:-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer .col4 input[type=text]::-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer .col4 input[type=text]::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer .col4 input[type=submit] {
  background-color: #E0B973;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #14274A;
  margin: 0;
  height: 28px;
}

@media screen and (max-width: 1132px) {
  .header {
    width: 100vw;
    background-position-x: -884px;
  }
  .header .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header .navbar li {
    margin-bottom: 25px;
  }
  .header h1 {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 70px;
  }
  .header h1 span {
    font-size: 40px;
  }
  .header .btn-reservation {
    width: 212px;
    height: 45px;
  }
  .header .btn-reservation span {
    font-size: 17px;
  }
  .secrooms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .secrooms::before {
    display: none;
  }
  .secrooms .photo {
    width: 95%;
    margin: 0 auto;
  }
  .secrooms .photo img {
    width: 100%;
  }
  .secrooms .info {
    width: 95%;
    margin: 20px auto;
  }
  .secrooms .info .title {
    font-size: 34px;
  }
  .seclocation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .seclocation::before {
    display: none;
  }
  .seclocation .photo {
    width: 95%;
    margin: 0 auto;
  }
  .seclocation .photo img {
    width: 100%;
  }
  .seclocation .info {
    width: 95%;
    margin: 20px auto;
  }
  .seclocation .info .title {
    font-size: 34px;
  }
  .sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec .note {
    width: 95%;
    margin: 10px 0;
    text-align: center;
  }
  .footerhead h3 {
    font-size: 27px;
  }
  .footerhead h4 {
    font-size: 17px;
  }
  .footerhead p {
    font-size: 14px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .col1 {
    margin: 0;
  }
  footer .col1 .address {
    margin-top: 33px;
  }
  footer div {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */